.login-form {
    display: flex;
    flex-direction: column;
    margin: 0px 45px;
}

.login-form input {
    border: none;
    padding: 15px 0px;
    margin-bottom: 20px;
    font-size: 18px;
}

.login-form input:not([type="submit"]) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-in-out;
}

.login-form input::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.login-form input:focus {
    border-color: orange;
}

.login-form input:nth-child(3) {
    margin-bottom: 35px;
}

.login-form input[type="submit"] {
    background-color: orange;
    cursor: pointer;
    padding: 20px 0px;
    border-radius: 10px;
}

.login-form a {
    text-align: center;
    text-decoration: none;
    opacity: 0.5;
    font-size: 13px;
}

.login-form a:hover {
    text-decoration: underline;
}